<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<!-- ### Java Servlet -->
	<servlet>
		<servlet-name>HelloJavaServlet</servlet-name>
		<servlet-class>com.issacdev.web.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloJavaServlet</servlet-name>
		<url-pattern>/HelloJavaServlet/*</url-pattern>
	</servlet-mapping>

	<!-- ### Spring Dispatcher Servlet # -->
	<servlet>
		<servlet-name>HelloDispatcherServlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloDispatcherServlet</servlet-name>
		<url-pattern>/HelloDispatcherServlet/*</url-pattern>
	</servlet-mapping>

	<!-- ### Web application context listener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

</web-app>

